@model IEnumerable<Shadow_Tech.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="firstlook">
	<img class="img-fluid" style="width:120%" src="images/ShadowTech.png" alt="Cap de tap">
</div>

<div class="container">
	
	<div class="dec2 p-2">
		<img src="images/dec1.png" alt="Decoratiune">
		<img src="images/dec1.png" alt="Decoratiune">
	</div>
	@{
		var productList = Model?.ToList() ?? new List<Product>();
		var cnt = 0;
	}
	@for(int i = 0; i < productList.Count; i+=3)
	{
		
		

		<div class="card-deck mb-3 text-center d-flex justify-content-around">
			
			
			@for (int j = 0; j < 3; j += 1)
			{
				if (i + j < productList.Count)
				{
					var product = productList[i + j];
					<a href="@Url.Action("Show", "Products", new { id = product.Id })" class="text-decoration-none" style="color: inherit;">
					<div class="card homeCard" >
						<img src="@product.Photo" class="card-img-top" style="width:90%" alt="...">
						<div class="card-body">
							<h3 class="card-title">@product.Title</h3>
							<h4 class="card-text" style="color:#f15178">@product.Price lei</h4>
								@if (product.ProductRating != 0)
								{
									<h5 class="card-text">Rating : @product.ProductRating / 5</h5>
								}
								else
								{
									<h5 class="card-text">No reviews yet</h5>
								}
						</div>
					</div>
					</a>
				}
				
			}
			@{
				cnt += 1;
			}
		</div>
		@if (cnt % 3 == 1)
		{
			Console.WriteLine(cnt);
			<img class="img-fluid" style="width:100%;margin-left:20px;margin-top:5rem;margin-bottom:5rem;" src="~/images/dec5.png" alt="Decoratiune">
		}
		@if (cnt % 3 == 2)
		{
			Console.WriteLine(cnt);
			<img class="img-fluid" style="width:100%;margin-left:20px;margin-top:5rem;margin-bottom:5rem;" src="~/images/dec6.png" alt="Decoratiune">
		}
		

	}

</div>





