@{
    ViewBag.Title = "Category List";
    var categoryList = ViewBag?.Categories?? new List<Category>();
}

<div class="d-flex justify-content-between">
    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success" asp-controller="Categories" asp-action="New">New Category</a>
    }
    
</div>

<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<div class="container bootstrap snippets bootdey">
    <div class="row">
        @for(int i=0; i < categoryList.Count; i += 1)
        {
            <div class="col-md-6 margin-20px-bottom" >
                <section class="widget stil" style="margin-left:10px; margin-right:10px;margin-bottom:40px;">
                    <div class="widget-body">
                        <div class="widget-top-overflow text-white">
                            <img src="@categoryList[i].Image">
                            
                        </div>
                        <div class="post-user mt-sm">
                            
                            <h2 class="mb-xs mt-xs">@categoryList[i].Name</h2>
                            <h4>@categoryList[i].ProductCount produse</h4>
                        </div>
                        <h6 class="text-light  m">@categoryList[i].Description </h6>
                    </div>
                    <footer class="bg-body-light d-flex justify-content-center" >
                        <a class="btn alert-success stilButton" style="margin-left:5px;margin-right:5px;" asp-controller="Products" asp-action="Index" asp-route-id="@categoryList[i].Id">Show Products</a>
                        
                        @if(ViewBag.EsteAdmin){
                        <a class="btn alert-success stilButton" style="margin-left:5px;margin-right:5px;" asp-controller="Categories" asp-action="Edit" asp-route-id="@categoryList[i].Id">Edit Category</a>
                        <a class="btn alert-success stilButton" style="margin-left:5px;margin-right:5px;" asp-controller="Categories" asp-action="Delete" asp-route-id="@categoryList[i].Id">Delete Category</a>
                   } </footer>
                </section>
            </div>
            
        }
        
    </div>
</div>

