@model IEnumerable<Shadow_Tech.Models.Cart>

<h1>Coșul tău de cumpărături</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Produs</th>
                <th>Preț</th>
                <th>Cantitate</th>
                <th>Total</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               
                <tr>
                    <img src="@item.Photo" />
                    <td>@item.ProductName</td>
                    <td>@item.Price RON</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity) RON</td>
                    <td>
                        <form method="post" asp-controller="Carts" asp-action="RemoveFromCart" asp-route-id="@item.Id">
							<button class="btn btn-danger">Șterge</button>"
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Total: @ViewBag.CartTotal RON</h3>
    <button class="btn btn-warning" onclick="clearCart()">Golește coșul</button>
}
else
{
    <p>Coșul tău este gol.</p>
}


