 @model IEnumerable<Shadow_Tech.Models.Cart>

@{
    decimal total = 0;
    @foreach (var item in @Model)
    {
        total += item.Price * item.Quantity;
    }
}
    


<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8" >
                <div class="card mb-4 stil" >
                    <div class="card-header py-3">
                        <h4 class="mb-0">Cart</h4>
                    </div>
                    <div class="card-body">
                        <!-- Single item -->
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <!-- Single item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <a href="@Url.Action("Show", "Products", new { id = item.ProductId })" class="text-decoration-none" style="color: inherit;">

                                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                                <img alt="" src="@item.Photo"
                                                     class="w-100" />
											</div>
                                            </a>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <a href="@Url.Action("Show", "Products", new { id = item.ProductId })" class="text-decoration-none" style="color: inherit;">
                                            <p><strong>@item.ProductName</strong></p>

                                            <p class="text-start text-md-center">
                                                <strong>@item.Price ron</strong>
                                            </p>
                                        </a>
                                        <!-- Data -->
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="d-flex mb-4" style="max-width: 300px">

                                            <form method="post" asp-controller="Carts" asp-action="DecrementQuantity" asp-route-id="@item.Id">
                                                <button class="btn px-3 me-2 stilButton fw-bold">-</button>
                                            </form>

                                            <div data-mdb-input-init class="form-outline">
                                                <input id="form1" min="1" name="quantity" value=@item.Quantity type="number" class="form-control text-center" style="max-width: 6rem;" readonly />
                                                <label class="form-label" for="form1">Quantity</label>
                                            </div>

                                            <form method="post" asp-controller="Carts" asp-action="IncrementQuantity" asp-route-id="@item.Id">
                                                <button class="btn px-3 me-2 stilButton fw-bold">+</button>
                                            </form>

                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->


                                        <form method="post" asp-controller="Carts" asp-action="RemoveFromCart" asp-route-id="@item.Id" class="text-start text-md-center">
                                            <button class="btn btn-danger" style="max-width: 6rem;">DELETE</button>"
                                        </form>
                                        <!-- Price -->
                                    </div>
                                </div>
                                <!-- Single item -->

                                <hr class="my-4" />
                            }
                        }
                        else
                        {
                            <p>Coșul tău este gol.</p>
                        }

                        
                    </div>
                </div>

                @if(Model.Any())
                {
                    <div class="card mb-4 stil">
                        <div class="card-body">
                            <p><strong>Expected shipping delivery</strong></p>
                            <p class="mb-0">12.10.2020 - 14.10.2020</p>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0 stil">
                        <div class="card-body">
                            <p><strong>We accept</strong></p>
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                 alt="Visa" />
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                 alt="American Express" />
                            <img class="me-2" width="45px"
                                 src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                 alt="Mastercard" />
                            
                        </div>
                    </div>
                }
                
            </div>

            @if (Model.Any())
            {
                <div class="col-md-4">
                    <div class="card mb-4 stil" >
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush" style="background-color:transparent">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" style="background-color:transparent">
                                    Products
                                    <span>@total</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color:transparent">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="background-color:transparent">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including TVA)</p>
                                        </strong>
                                    </div>
                                    
                                    <span><strong>@total</strong></span>
                                </li>
                            </ul>

                            <a href="@Url.Action("CheckOut", "Carts")" class="text-decoration-none" style="color: inherit;">
                                Go to checkout
                            </a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>


