@model IEnumerable<Shadow_Tech.Models.Product>

@{
    ViewData["Title"] = "Product List";
    // var categoryList = Model.Cat;
}

<h1>Product List</h1>




<div class="row">
	@{
		var productList = Model?.ToList() ?? new List<Product>();
	}
    @for (int i = 0; i < productList.Count; i += 3)
    {
        <div class="card-deck mb-3 text-center d-flex justify-content-around"> 
            @for (int j = 0; j < 3; j += 1)
            {
                if (i + j < productList.Count)
                {
                    var product = productList[i + j];
                    <!-- Adaugă link către pagina ShowProduct -->
                    @if (ViewBag.EsteAdmin == true)
                    {
                        <a href="@Url.Action("Show", "Products", new { id = product.Id })" class="text-decoration-none" style="color: inherit">
                            <div class="card homeCard" style="height:38rem;">
                                <img src="@product.Photo" class="card-img-top" style="width:90%" alt="...">
                                <div class="card-body">
                                    <h3 class="card-title">@product.Title</h3>
                                    <h4 class="card-text" style="color:#f15178">@product.Price lei</h4>
                                    <h6 class="card-text">@product.Description</h6>
                                        <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">
                                            <button class="btn btn-danger" type="submit">Delete Product</button>
                                        </form>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Show", "Products", new { id = product.Id })" class="text-decoration-none" style="color: inherit">
                            <div class="card homeCard">
                                <img src="@product.Photo" class="card-img-top" style="width:90%" alt="...">
                                <div class="card-body">
                                    <h3 class="card-title">@product.Title</h3>
                                    <h4 class="card-text" style="color:#f15178">@product.Price lei</h4>
                                    <h6 class="card-text">@product.Description</h6>
                                </div>
                            </div>
                        </a>
                    }

        }
            }
        </div>
    }
    
</div>
